---
layout: main
title: maincontent
carousels:
  - images:
    - image: /assets/images/ants.png
    - image: /assets/images/ants_square.png
---

<!-- Posts Index
================================================== -->
<div>
<section class="recent-posts">

    <div class="section-title">

        <h2><span>News</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>
</div>

{% comment %}
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Schedule</span></h2>
    </div>
<iframe
  src="https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%23ffffff&ctz=Asia%2FSeoul&showTitle=0&showNav=0&showDate=1&showPrint=0&showTabs=0&showCalendars=0&showTz=0&mode=WEEK&src=NjBtNTlnc2p0b3Nhc2pmM2E3bmlqZzlkdThAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23D50000"
  style="border:solid 1px #777" width="800" height="600" frameborder="0"
scrolling="no"></iframe>
</section>
{% endcomment %}


<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

